
#header {
    background: linear-gradient( rgb(155, 112, 5), rgb(245, 192, 57));
    height: 180px;
    z-index: 1;
}

#title {
    font-size: 82px;
    font-weight: 800;
    letter-spacing: 10px;
    text-align: center;
    margin-top: -95px;
    position: relative;
    z-index: 2;
}

#brand {
    text-shadow: 5px 5px 5px black;
}

#logoImg {
    width: 180px;
    margin-right: 5px;
}

@media (prefers-reduced-motion: no-preference) {
    #logoImg {
      animation: App-logo-spin infinite 20s linear;
    }
}

/* ----------------------------------- */

#form {
    /* border: 1px black solid; */
    width: 400px;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 5px 5px 20px 1px black;
    text-align: center;
}

#form input {
    width: 250px;
    outline-color: rgb(155, 112, 5);
}

#form p {
    font-weight: bold;
}

#btnForm {
    margin-top: 15px;
    width: 80px;
    background:  linear-gradient( rgb(155, 112, 5), rgb(245, 192, 57));
}
#links {
    display: flex;
    font-size: 12px;
    margin: 8px 10px 0 10px ;
    justify-content: space-between;
}
