
#header_Up {
    background: linear-gradient( rgb(155, 112, 5), rgb(245, 192, 57));
    height: 55px;
}

#logoImg_Up {
    width: 80px;
    display: inline-block;
    position: relative;
    top: -8px;
}

#header_Up h2 {
    display: inline-block;
    font-weight: bold;
    position: relative;
    bottom: 5px;
}

@media (prefers-reduced-motion: no-preference) {
    #logoImg_Up {
      animation: App-logo-spin infinite 20s linear;
    }
}

#btnToLogIn {
    font-weight: bold;
    margin: 0 auto 15px 0;
    position: relative;
    left: 70%;
}

#registrate {
    text-align: center;
    margin: 30px 0 0 0;
    /* text-shadow: 2px 2px 5px black; */
    font-size: 50px;
}

#btnToLogIn {
    background: rgba(0, 0, 0, .1);
}


/* ----------------------------------------------------- */

#SignUpForm {
    box-shadow: 2px 2px 20px black;
    padding: 20px;
    margin: 50px auto;

}

#btnSignUp{
    background: linear-gradient( rgb(155, 112, 5), rgb(245, 192, 57));
    color: black;
    border: black;
    width: 100%;
}